<h1>お知らせ一覧</h1>

<table class="table">
  <thead>
    <tr>
      <th>タイトル</th>
      <th></th>
      <th></th>
      <th></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td></td>
        <td><%= link_to 'Show', employee_article_path(current_user.id, article), method: :get %></td>
        <td><%= link_to 'Edit', edit_employee_article_path(current_user.id, article) %></td>
        <td><%= link_to 'Destroy', employee_article_path(current_user.id, article), method: :delete, data: { confirm: '本当に削除して宜しいですか？' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Article', new_employee_article_path %>
