<div class="content">
  <div class="container-fluid form-title">
    <div class="row">

      <div style="text-align:center;">
        <%= form_with model: @article, url: employee_articles_path(current_user.id,@article), method: :post, local: true do |form| %>
          
          <br><div class="actions">
            <%= form.submit %>
          </div>

          <div class="form-group form-inline text-md-right input-group-sm">
            <%= form.label :title %><br><br>
            <%= form.text_field :title, placeholder:"タイトル（必須 50文字まで)", maxlength: 50 %>
          </div>

          <div class="form-group form-inline input-group-sm">
            <%= form.text_area :content, placeholder:"タイトル（必須 50文字まで)", maxlength: 50 %>
          </div>

        <% end %>
      </div>

    </div>
  </div>
   <%= link_to 'Back', new_employee_article_path %>
</div>